@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rethink Sans", serif;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
}

.container {
  padding-inline: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
  border-bottom: 1px solid lightgray;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.header ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: darkslategrey;
  font-weight: 600;
  padding-block: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 100px;
  left: 0;
  width: 300px;
  z-index: 100;
  border-radius: 10px;
  padding-block: 10px;
  border: 1px solid lightgray;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.dropdown-menu.show {
  top: 50px;
  opacity: 1;
  pointer-events: auto;
}

.square {
  position: absolute;
  top: -16px;
  z-index: -1;
  background-color: white;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
}

.dropdown-btn:first-child .square {
  left: 47px;
}

.dropdown-btn:nth-child(3) .square {
  left: 63px;
}

.dropdown-menu .details {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: 0.3s;
}

.dropdown-menu .details:hover {
  background-color: #eeeeee;
}

.dropdown-menu .details i {
  margin-right: 10px;
}

.dropdown-menu .info {
  display: flex;
  flex-direction: column;
}

.dropdown-menu .info p {
  color: darkgray;
  font-size: 14px;
  font-weight: normal;
}

.header ul li span {
  font-size: 14px;
}

.header ul li i {
  font-size: 25px;
}

.header .buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header .buttons button {
  padding: 8px 12px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:first-child {
  background-color: transparent;
  border: 1px solid darkgray;
}

.buttons button:first-child:hover {
  background-color: #eeeeee;
}

.buttons button:last-child {
  background-color: black;
  border: 1px solid transparent;
  color: white;
}

.buttons button:last-child:hover {
  background-color: white;
  border-color: darkgray;
  color: black;
}

.main-header {
  padding-block: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.main-header ul li {
  font-size: 15px;
  color: darkslategray;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.main-header ul li:hover {
  color: #206af3;
}

.main-header i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.main-header i:hover {
  background-color: #eeeeee;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.featured {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-template-areas: "img" "title" "abstract" "author";
  column-gap: 0;
  row-gap: 1.5rem;
}

.featured > .article-img {
  aspect-ratio: 1.75 / 1;
  width: 100%;
}

.article-img {
  grid-area: img;
}

.article-img > img {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.article-title {
  grid-area: title;
  align-self: end;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5rem;
}

.article-abstract {
  grid-area: abstract;
}

.article-author {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-area: author;
  align-self: start;
}

.author-avatar {
  aspect-ratio: 1;
  width: 3rem;
  border-radius: 50%;
}

.section-hdr {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.articles {
  display: grid;
  grid-auto-rows: auto;
  gap: 1.5rem;
}

.article {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
      "img title"
      "img author";
  column-gap: 1.5rem;
  align-items: center;
  row-gap: 1rem;
}

.article-img {
  grid-area: img;
  aspect-ratio: 1;
  width: 150px;
  position: relative;
}
